/* start of accordion */

.accordion-item {
  background-color: var(--nice-main-i-color);
}

.accordion-button {
  display: block !important;
  text-align: center;
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: var(--nav-main-iii-color) !important;
  color: var(--nice-main-i-color) !important;
  font-weight: bold;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  background-color: var(--nav-main-iii-color);
  color: white !important;
}

.btn-link {
  font-family: "Noto Kufi Arabic", sans-serif;
  color: var(--nav-main-ii-color);
}
.btn-link:hover {
  font-family: "Noto Kufi Arabic", sans-serif;
  color: var(--nice-main-i-color);
}

/* end of accordion */

/* start of quran */

.bg-surah_name {


  background-color: var(--nice-main-i-color);  font-size: 1.2rem;
}

.surah_bg {
  background-color: var(--nice-main-i-color);
}
.thek-cont {
  border: 1px solid var(--nav-main-ii-color);
  background-color: var(--nav-main-i-color);
  font-family: "Lateef", cursive;
  border-radius: 3px;
}

.quran-font {
  color: var(--nav-main-iii-color);
  font-size: 1.2rem;
  line-height: 1.35;
}


/* end of quran */