/* importing the font of ciro */

@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Cairo:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400&display=swap');


.App {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  color: #198754;
}

::selection {
  background-color: rgb(25 135 84 / 30%);
  color: #fff;
}

/* 

<div class="d-flex justify-content-around align-items-sm-start align-items-md-center" data-v-45946100=""><div class="ps-sm-4 d-none d-sm-block" id="courseImage" data-v-45946100=""><div class="course-image-container rounded shadow d-inline-block cursor-pointer resize" data-v-d8db0a8e="" data-v-45946100=""><div class="course-image img-background-contain" data-v-d8db0a8e="" style="background-image: url(&quot;https://cdn.flexcourses.com/app/public/courses/images/3848/conversions/linux-basics-course-medium.png&quot;);"></div></div></div><div class="flex-fill" id="courseData" data-v-45946100=""><div data-v-45946100=""><h1 data-v-45946100="">دورة أساسيات نظام لينكس Linux</h1><!----><div class="d-flex flex-column flex-sm-row" data-v-45946100=""><div class="details d-flex d-sm-block align-items-center" data-v-45946100=""><div class="flex-fill" data-v-45946100=""><div data-v-45946100=""><i class="fa fa-play-circle-o ms-2" data-v-45946100=""></i><span class="ms-1" data-v-45946100="">37</span><span data-v-45946100="">درس</span></div><div data-v-45946100=""><i class="fa fa-calendar-o ms-1" data-v-45946100=""></i><span data-v-45946100=""> 7 ~ 11 أيام</span></div><div data-v-45946100=""><i class="fa fa-signal ms-2" data-v-45946100=""></i><span data-v-45946100="">مبتدئ</span></div></div><div class="text-start" data-v-45946100=""><div class="course-image-container rounded shadow d-inline-block cursor-pointer resize d-sm-none" data-v-d8db0a8e="" data-v-45946100=""><div class="course-image img-background-contain" data-v-d8db0a8e="" style="background-image: url(&quot;https://cdn.flexcourses.com/app/public/courses/images/3848/conversions/linux-basics-course-medium.png&quot;);"></div></div></div></div><div class="description pe-sm-3 py-3 py-sm-0" data-v-45946100=""><div class="text-secondary text-justify" data-v-45946100=""><span class="d-inline" data-v-45946100="">دورة في تعليم أساسيات نظام لينكس Linux <!----></span></div></div></div></div></div></div>

*/