/* importing the font of ciro */
:root {
  --main-i-color: #297f87;
  --main-ii-color: #fff7ae;
  --main-iii-color: #f6d167;
  --main-iv-color: #df2e2e;
  --nav-main-i-color: #f1f3f8;
  --nav-main-ii-color: #8d93ab;
  --nav-main-iii-color: #393b44;
  --nice-main-i-color: #b4c6a6;
  --nice-main-ii-color: #198754;
}
@import url("https://fonts.googleapis.com/css2?family=Blaka&family=Cairo:wght@700&family=Jomhuria&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka&family=Cairo:wght@700&family=Jomhuria&family=Lateef&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400&display=swap");

* {
  direction: rtl;
  font-family: "Lateef", cursive;

}
::selection {
  background-color: var(--nice-main-i-color);
}


/* 
#00a3a3 
.App {
   font-family: 'Blaka', cursive; 
   font-family: 'Cairo', sans-serif; 
   font-family: 'Jomhuria', cursive; 
  font-family: "Noto Kufi Arabic", sans-serif;

  color: #198754;
}
.btn-bg-ii {
  background-color: #297f87;
  color: var(--main-iii-color);
}
::selection {
  background-color: var(--main-i-color);
  color: var(--main-ii-color);
}

.thek-cont {
  border: 1px solid var(--main-i-color);
}

.bg-highlited {
  background-color: "#297F87" !important;
  display: "inline-block";
  padding: "1%";
  border-radius: "3px";
}

.bg-img {
  background-image: url("../pic/bg4.png");
  opacity: 0.5;
  z-index: -1;
}

.surah {
  line-height: 1.8rem;
  font-size: 1rem;
}
.quran-font {
  font-family: "Lateef", cursive;
}
 




* {
  color: white !important;  #FFF7AE  imortant
}
*/
